.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}
.switch input {
  display: none;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebedf2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  background-color: #e2b921;
  -webkit-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}

.input {
  vertical-align: middle;
  border-radius: 0;
  min-width: 50px;
  max-width: 635px;
  width: 100%;
  min-height: 36px;
  background-color: #ffffff;
  border: none;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #3b3f5c;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid #e0e6ed;
  padding: 0px 0 10px 35px;
}
.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebedf2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch.selected input:checked + .slider {
  background-color: #e2b921;
}
.switch input:checked + .slider:before {
  background-color: #fff;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
}
