.form-input {
  display: inline-block;
  font-family: Quicksand, sans-serif;
  vertical-align: middle;
  border-radius: 0;
  min-width: 50px;
  max-width: 635px;
  width: 100%;
  min-height: 36px;
  background-color: #ffffff00;
  border: none;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #3b3f5c;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid #e0e6ed;
  padding: 0px 0 10px 35px;
}
.form-input::placeholder {
  color: #6c757d;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 700;
}
.form-input:focus {
  outline: none;
  border-bottom: 1px solid #e2b921;
  box-shadow: none;
}
.icon {
  position: absolute;
  color: #e2b921;
  margin-top: 5px;
}
