.primary-title {
  font-weight: 600;
  font-size: 13px;
  font-family: Quicksand, sans-serif;
  letter-spacing: 1px;
  margin: 0 5px 0 0;
  color: #e2b921;
}

.secondary-title {
  font-weight: 600;
  font-size: 13px;
  font-family: Quicksand, sans-serif;
  letter-spacing: 1px;
  color: #888ea8;
}
