.button {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  font-family: Quicksand, sans-serif;
  letter-spacing: 0.0312rem;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 7px 20px;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #f1f2f3;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.button:hover,
.button:focus {
  color: #3b3f5c;
  background-color: #f1f2f3;
  border-color: #d3d3d3;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 #e0e6ed, 0 2px 10px 0 #e0e6ed;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.primary {
  color: #fff !important;
  background-color: #e2b921 !important;
  border-color: #e2b921;
}
.primary:hover,
.primary:focus {
  color: #fff !important;
  background-color: #e2b921;
  box-shadow: none;
  border-color: #e2b921;
}

.secondary {
  color: #3b3f5c !important;
  background-color: #f1f2f3 !important;
}
